/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/Templates
/Videos
/src
/vimwiki

/.XCompose
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.claude*
/.config/coderv2
/.gitconfig
/.gnupg
/.local
/.npm
/.pki
/.profile
/.python_history
/.ssh
/.triton
/.wget-hsts
/m.fish

/.config/Signal
/.config/Typora
/.config/brave-flags.conf
/.config/btop/themes/current.theme
/.config/chromium
/.config/chromium-flags.conf
/.config/dconf
/.config/environment.d
/.config/fcitx
/.config/fcitx5
/.config/fish/fish_variables
/.config/fontconfig
/.config/git/ignore
/.config/google-chrome
/.config/ibus
/.config/mako
/.config/mise
/.config/obs-studio
/.config/omarchy
/.config/omarchy.ttf
/.config/omarchy/current
/.config/pulse
/.config/qalculate
/.config/starship.toml
/.config/systemd/user
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/uv
/.config/xournalpp

