.DS_Store
/.atuin
/.aws
/.bash_history
/.bash_logout
/.bash_profile
/.bash-preexec.sh
/.bashrc
/.cache
/.cargo
/.claude*
/.conda
/.config/atuin
/.config/brave-flags.conf
/.config/BraveSoftware
/.config/btop/btop.log
/.config/btop/themes/current.theme
/.config/chromium
/.config/chromium-flags.conf
/.config/code-server
/.config/Code/User
/.config/coderv2
/.config/configstore
/.config/dconf
/.config/environment.d
/.config/fcitx
/.config/fcitx5
/.config/fish/completions
/.config/fish/conf.d
/.config/fish/fish_variables
/.config/fish/func
/.config/fish/functions/fish_user_key_bindings.fish
/.config/fontconfig
/.config/gh
/.config/ghostty
/.config/git/ignore
/.config/github-copilot
/.config/go/telemetry/local
/.config/google-chrome
/.config/helix
/.config/htop
/.config/hunter
/.config/ibus
/.config/joshuto
/.config/karabiner
/.config/mako
/.config/mise
/.config/neofetch
/.config/obs-studio
/.config/omarchy
/.config/omarchy.ttf
/.config/omarchy/current
/.config/pulse
/.config/qalculate
/.config/ranger
/.config/Signal
/.config/systemd/user
/.config/Typora
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/uv
/.config/wezterm
/.config/xournalpp
/.config/zathura
/.config/zed/prompts
/.config/zellij
/.cursor
/.dotnet
/.fzf*
/.gitconfig
/.gnupg
/.init_done
/.lesshst
/.lldb
/.local
/.modular
/.modular-internal
/.node_repl_history
/.npm
/.nv/ComputeCache
/.nvm
/.oh-my-zsh
/.pixi/bin
/.pki
/.profile
/.python_history
/.rustup
/.ssh
/.triton
/.viminfo
/.vscode
/.vscode-server
/.wget-hsts
/.XCompose
/.z
/.zed_server
/.zsh_history
/.zsh_sessions
/.zshrc
/Applications
/Desktop
/Documents
/Downloads
/init-workspace.sh
/Library
/Movies
/Music
/Pictures
/Public
/src
/start-*
/Templates
/Videos
/vimwiki
